body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    text-align: center;
    padding: 50px 0;
}

header h1 {
    color: #8c6046;
}

header img {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    margin-bottom: 20px;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #8c6046;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

section img {
    display: block;
    margin: 20px auto;
    max-width: 100%; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #8c6046;
    color: #fff;
    border-top: 2px solid #f7f7f7;
}

footer p {
    margin: 0;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
textarea,
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #8c6046;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #6d4737;
}
